#scenarioList {
  border: solid 1px #c0c0c0;
  margin-top: 0px;
}
#scenarioList li {
  cursor: pointer;
}
h1 {
  color: blue;
}
.main-wrapper {
  display: flex;
}
.main-wrapper .parts,
.main-wrapper .main {
  flex: 1;
  vertical-align: top;
}
.main-wrapper .parts .save-warning,
.main-wrapper .main .save-warning {
  font-style: italic;
}
.main-wrapper .parts .subtitle,
.main-wrapper .main .subtitle {
  font-weight: bold;
}
.main-wrapper .parts {
  max-width: 200px;
}
.main {
  border: solid 1px #c0c0c0;
}
.main .field-wrapper {
  margin: 6px 4px;
}
.main .field-wrapper.inline {
  display: inline-block;
}
.easyeditor-wrapper.highlight {
  border: solid 1px blue;
}
.easyeditor {
  padding: 4px !important;
  margin-bottom: 4px !important;
}
.easyeditor-toolbar {
  padding: 0px !important;
}
.easyeditor-toolbar ul {
  margin: 0px !important;
}
.button {
  display: inline-block;
  border: solid 1px black;
  border-radius: 6px;
  cursor: pointer;
  padding: 2px 4px;
  margin-right: 4px;
}
.button:hover {
  background-color: aquamarine;
}
.toolbar {
  margin-bottom: 6px;
}
.subsection-group {
  margin-bottom: 16px;
  margin-left: 6px;
}
