body {
  cursor: default;
}

#splash1,
#splash2 {

  position: absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom: 0px;

  text-align:center;
  background-color: #EE163D;
  z-index: 9999;

  display: none;
  color: white;
  line-height: 24px;
}

#splash1.show,
#splash2.show {
  display:block;
}

#splash1 {
  background: url("../img/ggj16-logo.png");
  background-size: cover;
  background-position: center;
}

#splash .subtitle1 {
  color: #c0c0c0;
}

#splash .subtitle2 {
  color: white;
  font-size: 20px;
}

#splash2 img {
  margin-top: 85px;
  text-align: center;
  max-width: 90%;
}

#playButton {
  display :block;
  font-size: 30px;
  color:#4744C1;
  font-weight: bold;
  cursor: pointer;
  margin: 30px;
}

.image-wrapper {
  text-align:center;
}

.image-wrapper img {
  width: 46%;
}

h1 {
  color: red;
}

li {
	list-style: none;
  cursor: hand;
  margin: 20px 0px;
  color: #4744C1;
}

.title {
	margin: 20px;
	text-align: center;
}

.options {
/*  border: solid 1px red;
*/}

.canvas {
	margin: 20px;
	text-align: justify;
}

p {
	margin: 10px;
	text-align: justify;
}

.scenario, .options {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin: auto;
  max-width: 75%;
/*  text-align: center;*/
  background-color: white; 
  margin-top: 15px;
  margin-bottom: 20px;
/*  padding: 10px;
*/}

.scenario {
  padding: 20px;
  /* margin-top: 0px;
  padding-top: 0px; */
}

.scenario-content {
  margin: 6px 20px;
}

.scenario p, .scenario h1, .scenario h2, .scenario h3, . {
  padding: 2px 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

.scenario p {
  color: #333333; 
}

.credits {

}

.credit {
  display:inline-block;
  padding-right: 16px;
}

.credit a.name {
  text-decoration: underline;

}

.credit a.name:visited {
  color: white;
  
}

.intermission {
  text-align: center;
}


/* MIXINS
==================================== */
/* MIXINS END
==================================== */
/* FONT STUFF
==================================== */
@font-face {
  font-family: 'brushpen';
  src: url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.woff2") format("woff2"), url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.woff") format("woff"), url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.ttf") format("truetype"), url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
/* FONT STUFF END
==================================== */
/* Media Query Breakpoints
==================================== */
/* /END/ Media Query Breakpoints
==================================== */
/* Layout Element Colors
==================================== */
/* Lists
========================================================================= */
ol,
ul {
  margin: 0;
  padding: 5px 20px;
  list-style: none; 
}

ul img {
  margin-top: 17px;
}


p {
  color: white;
  line-height: 1.5em;
  margin: 7px 0px 10px 0px; }

.h0 {
  color: white;
  font-family: "brushpen", cursive;
  font-size: 37px;
  margin: 12px 0px;
  text-transform: uppercase;
  display: inline;
  line-height: 55px; }

h1 {
  color: white;
  font-family: "Fenix", serif;
  font-size: 37px;
  margin: 12px 0px; }

h2 {
  color: white;
  font-family: "Fenix", serif;
/*  display: inline; 
*/  text-align: center;
}

.textbox h2 {
  color: #333333; }

h3 {
  color: white;
  margin: 12px;
  display: inline; }

.fa {
  color: red; }

.mainNavClose .fa, .mainNavClose h2 {
  color: white;
  margin-left: 20px;
  margin-right: -20px;
  float: left;
  line-height: 55px; }

.mainNavClose h2 {
  text-transform: uppercase;
  margin: 0px 35px; }

button:focus {
  outline: none; }

/* /END/ Lists
========================================================================= */
/* Link stylings
========================================================================= */
html {
  background: #EE163D; }

a {
  color: white; }

a:link {
  text-decoration: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  color: white; }

a:visited {
  text-decoration: none;
  color: #4744C1; }

a:hover, li:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  color: #4744C1;
  cursor: hand;
   }

a:active {
  text-decoration: none;
  color: #f8f8f8; }

/* /END/ Link stylings
========================================================================= */
/* DESKTOP Header, Banner and Footer Layout
==================================== */
nav {
  text-align: center;
  text-transform: uppercase;
  max-height: 300px;
  padding: 20px 0px; }

nav li {
  display: inline-block; }

.main-nav li a {
  font-size: 21px;
  margin-left: 48px;
  margin-right: 0px; }

.mainLogo,
.main-nav a,
.main-nav h1 {
  text-decoration: none;
  display: inline-block;
  text-align: inline-block;
  padding: 10px 0px; }

.main-nav {
  text-align: right; }
  .main-nav li {
    margin: 0; }
  .main-nav a {
    color: white;
    font: "Fenix", serif;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 2px dotted white;
    padding: 0px 0px;
    margin: 10px 15px; }
    .main-nav a:hover {
      color: #4744C1; }

.mainLogo
 {
  display: inline-block;
  float: left;
  margin: 0; }

.mainLogo a {
  margin-right: 20px;
  color: white; }

footer {
  /*position: absolute;
  bottom: 0px;
  left:0px;
  right:0px;*/
  background-color: #333333;
  color: #FF696D;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  overflow: hidden;
  line-height: 30px;
  height: auto; 
  flex: 0 1 auto !important;
}

footer a {
    padding: 20px 0px; }

.intro, .gumpf {
  color: white;
}

/* /END/ DESKTOP Header, Banner and Footer Layout
==================================== */
body {
  /* font: 100% "Open Sans", sans-serif; */
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #EE163D; 
  margin: 0px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 !important;
}


@media only screen and (max-width: 780px) {
    /* body {background-color: blue;} */
  .image-wrapper img {
    width: 90%;
  }
  #splash2 img {
      margin-top: 85px;
      text-align: center;
      width: 90%;
    }
  .loading img {
    width: 90%;
  }  
  body, .canvas {
    text-align: unset;
  }
}

}