html
	head
		title BRITUAL Admin Area
		script(src="lib/require.js")
		script(src="lib/jquery-1.12.0.min.js")
		script(src="lib/jquery.easyeditor.js")
		script(src="src/admin.js")
		link(href='style/admin.css', rel='stylesheet')
		link(href='style/easyeditor.css', rel='stylesheet')
	body
		h1 Britual Admin Area
		.toolbar
			#saveButton.button Save
			#addButton.button Add Scenario
			#removeButton.button Remove Scenario
			#refreshButton.button Refresh
			#resetButton.button Reset
		.main-wrapper
			.parts
				ul#scenarioList
			.main
				#formRoot.form-root
